- if current_user
  - unless list.can_enroll? current_user
    %span.btn.btn-disabled.btn-primary.cannot_enroll{disabled: 'disabled', :"data-why-cannot-enroll" => list.why_cannot_enroll(current_user).join("<br/>")} 
      can't enroll
      = "(#{pluralize(list.entries.count,'entry')})"
  - else
    -if list.instant_enroll?
      = link_to "Enroll (#{pluralize(list.entries.count,'entry')} already)", entries_list_path(list), class: 'btn btn-primary instant-enroll', method: 'post', :"data-user-public-fields" => user_public_fields_msg(list)
    -else
      = link_to "Enroll (#{pluralize(list.entries.count,'entry')} already)", new_entry_list_path(list), class: 'btn btn-primary', target: '_blank'