%h1
  = @list.name
  %small
    by
    = @list.owner_full_name
  = render partial: 'enroll_button', locals: {list: @list}
%h3
  Enrolled count:
  = @list.entries.count

%h3 Fields
%ul
  - @list.list_fields.each do |f|
    %li
      = f.public ? "PUBLIC" : ""
      = f.model_name.human
      \::
      = f.name

%h4 Iframe embed code
%pre
  = "<iframe src=\"#{iframe_list_url(@list)}\" style=\"width:500px; height: 70px; border:none;\"></iframe>"
%h4 BBcode embed code
%pre
  = "[betterpoll=#{@list.id}][/betterpoll]"

/ .btn-group
/   = link_to 'Back', lists_path, class: "btn btn-default"

- if @list.public_list_fields.count > 0
  %h3 
    Entries
    %small displaying only public fields

  %table.table
    %thead
      %tr
        %th Created at
        - @list.public_list_fields.each do |f|
          %th= f.name.humanize
    %tbody
      
      - @list.entries.each do |e|
        %tr
          %td= e.created_at
          - @list.public_list_fields.each do |f|
            %td= e.entry_fields_map[f].value