= simple_form_for(@list, url: form_url) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :max_entries
    = f.input :max_entries_per_user
    -if @list.new_record?
      %h3 Fields
      #list_fields
        = f.simple_fields_for :list_fields do |field|
          = render "entries/#{field.object.model_name.singular}", :f => field
        .links
          .btn-group
            = link_to_add_association 'Add user field', f, :list_fields, partial: 'entries/field_user', wrap_object: Proc.new {|o| Field::User.new(o.attributes) }, class: "btn btn-default"
            = link_to_add_association 'Add text field', f, :list_fields, partial: 'entries/field_text', wrap_object: Proc.new {|o| Field::Text.new(o.attributes) }, class: "btn btn-default"
            = link_to_add_association 'Add boolean field', f, :list_fields, partial: 'entries/field_boolean', wrap_object: Proc.new {|o| Field::Boolean.new(o.attributes) }, class: "btn btn-default"
            = link_to_add_association 'Add select field', f, :list_fields, partial: 'entries/field_select', wrap_object: Proc.new {|o| Field::Select.new(o.attributes) }, class: "btn btn-default"
  .form-actions
    .btn-group.pull-right
      = f.button :submit, class: "btn-success btn-lg"
